<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="csstemp/base.css">
    <link rel="stylesheet" href="csstemp/about.css">
</head>
<body>
    <%- include('minitemplates/navbar.ejs') %> 
    <div class="type"></div>
   
    <div id="mainholder2">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 ">
                    <div class="card" >
                        <img class='ppic'src="https://ik.imagekit.io/xpxacmqcd/153c940f-0d09-4ed0-82e4-0754e99765d8_2__1_.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1668868156710" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Yash Yadav</h5>
                          <p class="card-text">Designed the webiste and worked on cleaning the dataset.</p>
                          <a href="https://www.linkedin.com/in/yash-yadav-432252226/" class="btn"><img id='linkimg' src="https://brand.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt=""></a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" >
                        <img class='ppic' src="https://ik.imagekit.io/xpxacmqcd/sadq_o-HqUnN7X?ik-sdk-version=javascript-1.4.3&updatedAt=1668868271495" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Paul</h5>
                          <p class="card-text">Designed the webiste and worked on cleaning the dataset.</p>
                          <a href="https://www.linkedin.com/in/paul-ong-9180a7256/" class="btn"><img id='linkimg' src="https://brand.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt=""></a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" >
                        <img class='ppic' src="https://ik.imagekit.io/xpxacmqcd/ken_73M9W3BWx?ik-sdk-version=javascript-1.4.3&updatedAt=1668868354445" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ken</h5>
                          <p class="card-text">Designed the webiste and worked on cleaning the dataset.</p>
                          <a href="https://www.linkedin.com/in/ken-kollert-0484111aa" class="btn"><img id='linkimg' src="https://brand.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt=""></a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row p-5 m-5 justify-content-around" id='r2'>
               
                <div class="col-lg-4">
                    <div class="card" >
                        <img class='ppic' src="https://ik.imagekit.io/xpxacmqcd/guru_eO3spn6iwd?ik-sdk-version=javascript-1.4.3&updatedAt=1668868510313" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Guru</h5>
                          <p class="card-text">Designed the webiste and worked on cleaning the dataset.</p>
                          <a href="https://www.linkedin.com/in/guruprasath3200/" class="btn"><img id='linkimg' src="https://brand.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt=""></a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" >
                        <img class='ppic' src="https://ik.imagekit.io/xpxacmqcd/photo_6323274793222256221_y.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1668868140121" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hong Jing</h5>
                          <p class="card-text">Designed the webiste and worked on cleaning the dataset.</p>
                          <a href="https://www.linkedin.com/in/toh-hong-jing-454ba417a" class="btn"><img id='linkimg' src="https://brand.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt=""></a>
                        </div>
                      </div>
                </div>
                
            </div>
        </div>

            
    </div>
    
    


    <%- include('minitemplates/footer.ejs')  %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
        const typed= new Typed('.type',{
            strings:['<h3>Interested in getting to know our team? </h3> <h5>Read about us and our contributions</h5>'],
            typeSpeed:110,
            backSpeed:150,
            loop:false,
            showCursor:false
        })


    </script>

</body>
</html>