.type{
    padding: 50px;
    color: #e98074;
}


b{
    color: #e98074;
}
i{
    color: #e98074;
    text-decoration: underline wavy 1px;
}

#mainholder2{
    position: relative;
    top:100px;
    width: 90%;
    left:140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card{
    background-color:#d8c3a5 ;
    box-shadow: 0 5px 20px ;
    color: #8e8d8a;
    width: 18rem;
}
.card:hover{
    color:white

}
.navbar-nav{
    position: relative;
    right:20px;
}
.navbar-toggler{

    background-color: #d8c3a5;
}

.footer{
    top: 200px;
}
#linkimg{
    width: 25px;
    aspect-ratio: 1;
}
.connect{
    transition: .4s;
}
.connect:hover{
    background-color: #8e8d8a;

}

.ppic{
    height:400px;
}



@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    #mainholder2{
        width: 20em;
        left:12.5em;
    }
    .container{
        position: relative;
        left:-2em;
    }
    #r2{
        position: relative;
        left:-6.8em;
        top: -6em;
    }
    .card{
        margin-bottom: 1.4em;
        width: 25em ;
        height: 40em;
    }
    .ppic{
        height:30em;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    #mainholder2{
        width: 15em;
        left:7.5em;
    }
    .container{
        position: relative;
        left:-5em;
    }
    #r2{
        position: relative;
        left:-6.8em;
        top: -6em;
    }
    .card{
        margin-bottom: 1.4em;
        width: 20em ;
        height: 30em;
        
    }
    .ppic{
        height:18em;
    }
    .footer{
        top:0em;
        height: 18%;
    }
    .footer ul{
        left: 1em;
        align-items: flex-start;
        font-size: .76em;
    }
}