
<div class="footer">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/ps">Problem Statement</a></li>
        <li><a href="/pd">Data Driven World</a></li>
        <li><a href="/math">Modelling Uncertainty</a></li>
    </ul>
</div>