

<nav class="navbar sticky-top navbar-expand-lg navbar-dark" id="nav" style="background-color: #eae7dc; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="https://img.icons8.com/ios/512/rice-bowl.png" alt="" style="width: 30px;aspect-ratio:1;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse dd-flex justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-3" >
            <a class="nav-link " href="/">Home</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/ps">Problem Statement</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/math">Modelling Uncertinity</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="/pd">Data Driven World</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

<script src="/javascript/nav.js"></script>